

#pixelNav {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color:#fffdf7;
  border-top:2px dashed #d9b370;
  display:flex;
  justify-content:space-around;
  padding:8px 0;
  box-shadow:0 -2px 6px rgba(90,42,12,0.2);
  z-index:999;
}
#pixelNav button {
  background:none;
  border:none;
  padding:0;
  cursor:pointer;
}
.nav-icon {
  width:32px;
  height:32px;
  image-rendering: pixelated;
  transition:transform 0.2s ease;
}
.nav-icon:hover {
  transform:scale(1.2);
}
.admin-popup-menu {
  position:fixed;
  bottom:3.5rem;
  right:1rem;
  background:#fffdf7;
  border:2px dashed #c9a04e;
  padding:0.8rem;
  display:flex;
  flex-direction:column;
  font-family:'Press Start 2P',monospace;
  font-size:0.55rem;
  z-index:9999;
}

.admin-menu {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 35px;
  background-color: #fffdf7;
  border: 2px dashed #d9b370;
  padding: 10px;
  font-family: 'Press Start 2P', monospace;
  font-size: 0.6rem;
  list-style: none;
  z-index: 999;
}
.admin-popup-menu a,.admin-popup-menu button {
  margin-bottom:0.5rem;
  text-align:left;
  background:none;
  border:none;
  color:#3c2415;
  text-decoration:none;
  cursor:pointer;
}
.notification-list {
  max-height:300px;
  overflow-y:auto;
  margin-top:10px;
}
.notification-item {
  border-bottom:1px solid #d9b370;
  padding:10px;
  font-size:0.9rem;
  color:#5a2a0c;
  background-color:#f9f6f2;
}
.notification-item.unread {
  background-color:#fff3d6;
  font-weight:bold;
  border-left:4px solid #d9b370;
}
.notification-item:last-child {
  border-bottom:none;
}
#notificationDot {
  position:absolute;
  top:-4px;
  right:-4px;
  width:10px;
  height:10px;
  background-color:red;
  border-radius:50%;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  display:none;
}
.btn-accept {
  background-color:#85c17e;
  color:white;
}
.btn-decline {
  background-color:#e06d6d;
  color:white;
}
.btn-accept:hover {
  background-color:#6fae65;
}
.btn-decline:hover {
  background-color:#c65555;
}
#notificationIcon {
  position:fixed;
  top:20px;
  right:20px;
  font-size:1.5rem;
  color:white;
  padding:10px;
  border-radius:50%;
  background:transperant;
  cursor:pointer;
  z-index:1000;
  transition:background-color 0.3s ease,transform 0.2s ease;
}
#notificationIcon:hover {
  background:transperant;
  transform:scale(1.05);
}
.notification-item button {
  margin-right:8px;
  padding:4px 10px;
  font-size:0.8rem;
  cursor:pointer;
  border-radius:5px;
  border:none;
  font-family:'Segoe UFI',Tahoma,sans-serif;
}
